<h1>Genre Generator</h1>

<p>
  Are you tired of reading the same old categories of fiction? Do you feel
  confined by your current genre? Want to find a new nonexistent trend in
  books? Check out this awesome new genre!
</p>

<p class="genre"><%= @genre %></p>
